<div class="container d-flex flex-column justify-content-center vh-100 p-4">
  <div class="row justify-content-center border border-primary rounded p-3">
    <h3 class="col-12 text-center">
      Configurar Passeio
    </h3>
    <div class="col-12">

      <div class="mb-3">
        <label for="inputName" class="form-label">Nome</label>
        <input type="text" id="inputName" class="form-control" [(ngModel)]="trip.name">
      </div>

      <div class="mb-3">
        <label for="inputPlace" class="form-label">Local</label>
        <input type="text" id="inputPlace" class="form-control" [(ngModel)]="trip.place">
      </div>

      <div class="mb-3">
        <label for="inputStartDate" class="form-label">Data de Inicio</label>
        <input type="datetime-local" id="inputStartDate" class="form-control" [(ngModel)]="trip.startDate">
      </div>

      <div class="mb-3">
        <label for="inputEndDate" class="form-label">Data de Término</label>
        <input type="datetime-local" id="inputEndDate" class="form-control" [(ngModel)]="trip.endDate">
      </div>

      <label for="inputUserEmail" class="form-label mt-3">Participantes</label>
      <div class="input-group mb-3">
        <input type="email" class="form-control" id="inputUserEmail" placeholder="email@example.com"
          [(ngModel)]="userToAdd">
        <button class="btn btn-outline-success" type="button" (click)="addUser()">
          <i class="fa-solid fa-add"></i>
          Adicionar
        </button>
      </div>

      <ng-container *ngIf="trip.UsersOnTrips && trip.UsersOnTrips.length > 0">
        <div class="input-group mb-3" *ngFor="let participante of trip.UsersOnTrips, let i = index">
          <span class="input-group-text">{{i+1}}</span>
          <input disabled type="text" class="form-control" [value]="participante.user.firstName + ' ' + participante.user.lastName">
          <!-- <button class="btn btn-outline-danger" type="button" (click)="addUser()">
            <i class="fa-solid fa-minus"></i>
            Remover
          </button> -->
        </div>
      </ng-container>

      <button type="submit" class="btn btn-primary me-3" (click)="submitForm()">
        Modificar
      </button>
      <a href="/lista-passeio" class="btn btn-outline-warning">
        Voltar
      </a>

      {{ error }}
    </div>
  </div>
</div>