@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$font-family-sans-serif: "Open Sans", sans-serif;
$primary: #5639b7;
$secondary: #4354bc;

$theme-colors: map-merge($map1: $theme-colors, $map2: (
        "primary": $primary,
        "secondary": $secondary,
    )
);

@import "bootstrap/scss/bootstrap";

.logo {
    text-align: center;
    font-size: 32px;
    margin: 12px
}